*.jpg
*.dip~
*.eli~
*.mp3
*.ogg
*.wav
*.mat
Sound/*.h
Doc/*
*.dch~
*.lib~
tmp.*
DipTrace/NUCLEO-F429ZI.eli
DipTrace/motion.dch
DipTrace/motion.dip
**/trash/*
Bill-of-Materials.*
*/Gerbers
Nucleo144_STM32H723ZG/*
STM32CubeIDE/Debug/*
*.prj
STM32CubeIDE/App/AudioData.h
*/latex/*
*/html/*
Testing/*
Photo/*